<h1>Products</h1>

<div class="card">
    <div class="card-head">Lorem ipsum - product 1</div>
    <div class="card-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eu posuere turpis. Maecenas lorem urna, varius lobortis est sit amet, dapibus interdum justo. Aliquam ut augue non felis interdum bibendum id volutpat augue.</div>
</div>

<div class="card">
    <div class="card-head">Lorem ipsum - product 2</div>
    <div class="card-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eu posuere turpis. Maecenas lorem urna, varius lobortis est sit amet, dapibus interdum justo. Aliquam ut augue non felis interdum bibendum id volutpat augue.</div>
</div>
